# Node
node_modules/
.next/
firebase/functions/lib/
# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins*
# Secrets / env
.env
.env.local
*.local
serviceAccount*.json
# Firebase
firebase/.runtimeconfig.json
.firebase/

# Firebase emulator debug logs
firebase/*-debug.log
*-debug.log
firebase/firestore-debug.log

# Maquettes brainstorming (compagnon visuel)
.superpowers/
